.h1{
    color:aqua;
    text-align: center;
}

.amazing_team{

    text-align:center;
}

.first_paragraph{
    color:dimgrey;
}

.lead_designer{
    color:dimgray
}

.lead_marketer{
    color:dimgray
}

.lead_dev{
    color:dimgray
}

.last_paragraph{
    color:dimgray;
}